@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 300;
  }
  body ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 300;
  }

  body {
    overflow: hidden; /* Hide scrollbars */
  }